body {
    background-color: #50C878;
    font-family: 'Abel', sans-serif;
  }
  
  .navbar {
    background-color: #FFFAFA;
  }
  
  .navbar-name {
    font-family: 'Mynerve';
    font-size: 3rem;
  }
  
  .navbar-desc {
    font-size: 2rem;
  }
  