body {
    background-color: #50C878;
    font-family: 'Abel', sans-serif;
}

.navbar {
    background-color: #FFFAFA;
}

.navbar-name {
    font-family: 'Mynerve';
    font-size: 3rem;
}

.navbar-desc {
    font-size: 2rem;
}

.score {
    padding: 1rem;
    color: #fff;
    font-size: 1.5rem;
}

.submit-button, .reset-button {
    color: #fff;
    font-size: 1.5rem;
}


@media (max-width: 768px) {
    .navbar-name {
        font-family: 'Mynerve';
        font-size: 1.6rem;
    }

    .navbar-desc {
        font-size: .8rem;
    }
}